.rightCol td {
  min-width: 20px;
  padding: 4px;
  text-align: left;
}

/* Overwrites of original CSS */
.rightCol {
  width: 400px !important;
}
.mainContainer {
  width: 950px !important;
}
.cardList {
  width: 950px !important;
}
.cardItemTable {
  width: 950px !important;
}
